
.ob_label {
    color: #f82624;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
}

#ob_timeline_canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.ob_timeline_panel {
    position: absolute;
    border: 1px solid #cccccc;
    border-radius: 15px 15px 0 0;
}

.ob_timeline_panel_resizer {
    position: absolute;
    border: 0px solid #1767f3;
    padding: 10px;
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 2px 2px 2px 2px;
}

.ob_timeline_right_panel {
    position: fixed;
    overflow-y: auto;
    border-radius: 15px 15px 0 0;
    border: 1px solid #cccccc;
}

.ob_timeline_body {
}

.ob_start {
    position: absolute;
    content: url("../icon/ob_start.png");
}

.ob_start:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_start.png");
}

.ob_start:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_stop {
    position: absolute;
    content: url("../icon/ob_stop.png");
}

.ob_stop:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_stop.png");
}

.ob_stop:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_calendar {
    position: absolute;
    content: url("../icon/ob_calendar.png");
}

.ob_calendar:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_calendar_black.png");
}

.ob_calendar:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_sync:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_sync {
    position: absolute;
    content: url("../icon/ob_sync.png");
}

.ob_sync:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_sync_black.png");
}

.ob_sync:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_filter {
    position: absolute;
    content: url("../icon/ob_filter.png");
}

.ob_filter:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_filter_black.png");
}

.ob_filter:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_search_input {
    position: absolute;
    top: 5px;
    padding: 4px;
    background: rgb(235, 242, 249);
}

.ob_search {
    position: absolute;
    content: url("../icon/ob_search.png");
}

.ob_search:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_search_black.png");
}

.ob_search:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_marker {
    position: absolute;
    content: url("../icon/ob_marker.png");
}

.ob_time_marker {
    position: absolute;
    border-radius: 15px 15px 0 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d3d8df+0,b4bac0+36,6c8a9c+100 */
    background: rgb(211, 216, 223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d8df', endColorstr='#6c8a9c', GradientType=0); /* IE6-9 */
    color: #000000;
    text-align: center;
    width: 500px;
    font-family: Times, serif;

}

.ob_2d {
    position: absolute;
    content: url("../icon/ob_2d.png");
}

.ob_2d:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_2d_black.png");
}

.ob_2d:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_3d {
    position: absolute;
    content: url("../icon/ob_3d.png");
}

.ob_3d:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_3d_black.png");
}

.ob_3d:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_settings {
    position: absolute;
    content: url("../icon/ob_settings.png");
}

.ob_settings:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_settings_black.png");
}

.ob_settings:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_help {
    position: absolute;
    content: url("../icon/ob_help.png");
}

.ob_help:active {
    border-radius: 5px;
    border: 1px solid #f3f3ed;
    background-color: rgb(211, 216, 223);
    content: url("../icon/ob_help_black.png");
}

.ob_help:hover {
    border-radius: 5px;
    border: 1px solid #000009;
}

.ob_head_panel {
    height: 40px;
    border-radius: 15px 15px 0 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d3d8df+0,b4bac0+36,6c8a9c+100 */
    background: rgb(211, 216, 223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d8df', endColorstr='#6c8a9c', GradientType=0); /* IE6-9 */
    color: #040404;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}

.ob_form1 {
    max-width: 500px;
    margin: 25px auto;
    padding: 2px;
    background: white;
    border-radius: 8px;
    font-family: "Times New Roman", Times, serif;
}

.ob_form1 fieldset {
    border: none;
}

.ob_form1 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.ob_form1 label {
    display: block;
    margin-bottom: 8px;
}

.ob_form1 textarea {
    font-family: "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #1c6d78;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 3px;
}

.ob_form1 select,
.ob_form1 input[type="label"] {
    font-family: "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 5px;
    width: 23%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #d8dedf;
    color: #060606;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 3px;
}

.ob_form1 input[type="date"],
.ob_form1 input[type="datetime"],
.ob_form1 input[type="email"],
.ob_form1 input[type="number"],
.ob_form1 input[type="search"],
.ob_form1 input[type="text"],
.ob_form1 input[type="time"],
.ob_form1 input[type="url"] {
    font-family: "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 5px;
    width: 23%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #1c6d78;
    text-align: left;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 3px;
}

.ob_form1 input[type="text"]:focus,
.ob_form1 input[type="date"]:focus,
.ob_form1 input[type="datetime"]:focus,
.ob_form1 input[type="email"]:focus,
.ob_form1 input[type="number"]:focus,
.ob_form1 input[type="search"]:focus,
.ob_form1 input[type="time"]:focus,
.ob_form1 input[type="url"]:focus,
.ob_form1 textarea:focus,
.ob_form1 select:focus {
    background: #d2d9dd;
}

.ob_form1 select {
    -webkit-appearance: menulist-button;
}

.ob_form1 .number {

    color: #151819;

}

.ob_form1 input[type="submit"],
.ob_form1 input[type="button"] {
    position: relative;
    padding: 1px 1px 1px 1px;
    border-radius: 15px 15px 15px 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d3d8df+0,b4bac0+36,6c8a9c+100 */
    background: rgb(211, 216, 223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(211, 216, 223, 1) 0%, rgba(180, 186, 192, 1) 36%, rgba(108, 138, 156, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d8df', endColorstr='#6c8a9c', GradientType=0); /* IE6-9 */
    color: #040404;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 45%;
    margin-bottom: 30px;
}

.ob_form1 input[type="submit"]:hover,
.ob_form1 input[type="button"]:hover {
    background: #f2f9f8;
}



